# NetBeans user-specific settings
/bindings/java/nbproject/private/

# Bindings dependecies and build folders
/bindings/java/lib/
/bindings/java/build/
/bindings/java/dist

# Windows build folders
/win32/Debug_NoLibs/
/win32/*/Debug_NoLibs/
/win32/Debug/
/win32/*/Debug/
/win32/Release/
/win32/*/Release/
/win32/*/*.user

# IntelliSense data
/win32/tsk-win.ncb

# Visual Studio user options
/win32/tsk-win.suo

*.o
*.lo
*.la
Makefile
.deps
.libs
