[submodule "framework/modules/c_HashCalcModule"]
	path = framework/modules/c_HashCalcModule
	url = git@github.com:sleuthkit/c_HashCalcModule.git
[submodule "framework/modules/c_ZIPExtractionModule"]
	path = framework/modules/c_ZIPExtractionModule
	url = git@github.com:sleuthkit/c_ZIPExtractionModule.git
[submodule "framework/modules/c_EntropyModule"]
	path = framework/modules/c_EntropyModule
	url = git@github.com:sleuthkit/c_EntropyModule.git
[submodule "framework/modules/c_SaveInterestingFilesModule"]
	path = framework/modules/c_SaveInterestingFilesModule
	url = git@github.com:sleuthkit/c_SaveInterestingFilesModule.git
[submodule "framework/modules/c_RegRipperModule"]
	path = framework/modules/c_RegRipperModule
	url = git@github.com:sleuthkit/c_RegRipperModule.git
[submodule "framework/modules/c_InterestingFilesModule"]
	path = framework/modules/c_InterestingFilesModule
	url = git@github.com:sleuthkit/c_InterestingFilesModule.git
[submodule "framework/modules/c_TskHashLookupModule"]
	path = framework/modules/c_TskHashLookupModule
	url = git@github.com:sleuthkit/c_TskHashLookupModule.git
[submodule "framework/modules/c_SummaryReportModule"]
	path = framework/modules/c_SummaryReportModule
	url = git@github.com:sleuthkit/c_SummaryReportModule.git
[submodule "framework/modules/c_FileTypeSigModule"]
	path = framework/modules/c_FileTypeSigModule
	url = git@github.com:sleuthkit/c_FileTypeSigModule.git
[submodule "framework/modules/c_LibExifModule"]
	path = framework/modules/c_LibExifModule
	url = git@github.com:sleuthkit/c_LibExifModule.git
