language: cpp
matrix:
  include:
  - compiler: clang
    os: linux
    dist: trusty
    sudo: required
    group: edge
  - compiler: gcc
    os: linux
    dist: trusty
    sudo: required
    group: edge
  - compiler: clang
    os: osx
  - compiler: gcc
    os: osx

python:
  - "2.7"
install:
  - ./travis_build.sh

script:
  - make check && if [ -f "tests/test-suite.log" ];then cat tests/test-suite.log; fi ; if [ -f "unit_tests/base/test-suite.log" ];then cat unit_tests/base/test-suite.log; fi 
  - if test ${TRAVIS_OS_NAME} = "linux"; then cd release; ./release-unix.pl ci; fi
